<div style="position: absolute; bottom: 0px;">
    <h3>Logs @Progress</h3>
    <textarea rows="@Rows" cols="300" style="font-family:Lucida Sans Typewriter; font-size:12px;">
        @LogMessages
    </textarea>
</div>

@code {
    [Parameter]
    public int Rows { get; set; } = 20;

    [Parameter]
    public string Progress { get; set; } = string.Empty;

    [Parameter]
    public string LogMessages { get; set; } = string.Empty;
}